charset "utf-8";
/* HTML and Body Styles*/
html {
	background: rgb (230), 172, 242);
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px
}
section img {
	width: 25%
	float: left;
	display: block;
	margin: 20px 20px 10px 15px;
}
section p {
	margin-bottom: 0px;
}
section a {
	color: rgb (58, 58, 28);
}
<body style="background-color:powderblue;">
<h1 style="color:blue;">This is a heading</h1>
